{% load static %}
 
 <!-- main-footer -->
 <footer class="main-footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-container clearfix">
                <div style ="display: flex; align-items: center;; justify-content: center">
                    <figure class="footer-logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo.png"></a></figure>
                    <div style="margin: 0 25px; text-transform: uppercase;" class="copyright">Navbahor tuman Axborot-kutubxona markazi</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->