{% load static %}

<!-- Main Header -->
 <header class="main-header">
    <div class="header-bottom">
        <div class="container">
            <div class="clearfix">
                <div class="logo-box">
                <figure style="display: flex; align-items: center; justify-content: center;" class="logo">
                    <a style="text-align: center;" href={% url 'home' %}>
                        <img width="80px" src="{% static 'images/logo.png' %}" alt="logo.png">
                        <h1 style="text-transform: uppercase; margin-top: 5px; font-size: 30px;">Navbahor tuman Axborot-kutubxona markazi</h1>
                    </a>
                </figure>
                </div>
                <div class="nav-outer clearfix">
                    <div style="width: 100%; display: flex; align-items: center; justify-content: center;" class="menu-area">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a href={% url 'home' %}>Asosiy</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="bo'lim/">Bo'lim</a>
                                        <ul>
                                            <li><a href={% url 'about' %}>Biz haqimizda</a></li>
                                            <li><a href={% url 'rahbariyat' %}>Rahbariyat</a></li>
                                            <li><a href={% url 'xodimlar' %}>Xodimlar</a></li>
                                        </ul>
                                    </li> 
                                    </li> 
                                    <li class="dropdown"><a href="#">Yangiliklar</a>
                                        <ul>
                                            <li><a href={% url 'tadbirlar' %}>Tadbirlar</a></li>
                                            <li><a href={% url 'elonlar' %}>E‘lonlar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Hujjatlar</a>
                                        <ul>
                                            <li><a href={% url 'qonunlar' %}>Qonunlar</a></li>
                                            <li><a href={% url 'farmonlar' %}>Farmonlar</a></li>
                                        </ul>
                                    </li>  
                                    <li class="dropdown"><a href="#">Interaktiv</a>
                                        <ul>
                                            <li><a href="https://my.gov.uz/oz">Elektron davlat xizmatlari</a></li>
                                            <li><a href="https://emis.mpe.uz/core/">EMIS portali</a></li>
                                            <li><a href="https://my.gov.uz/oz/kindergarten/default/create">Onlayn ariza yuborish</a></li>
                                        </ul>
                                    </li>                         
                                    <li><a href={% url 'aloqa' %}>Aloqa</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container clearfix">
            <div style="width: 100%; display: flex; align-items: center; justify-content: center;" class="menu-area">
                <nav class="main-menu navbar-expand-lg">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <a href={% url 'home' %}><img src="{% static 'images/logo.png' %}" alt="small-logo.png" style="width:80px; margin-right: 25px;"></a>
                        <ul class="navigation clearfix">
                            <li>
                                <a href={% url 'home' %}>Asosiy</a>
                            </li>
                            <li class="dropdown">
                                <a href={% url 'about' %}>Bo'lim haqida</a>
                                <ul>
                                    <li><a href={% url 'about' %}>Biz haqimizda</a></li>
                                    <li><a href={% url 'rahbariyat' %}>Rahbariyat</a></li>
                                    <li><a href={% url 'xodimlar' %}>Xodimlar</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown"><a href="#">Yangiliklar</a>
                                <ul>
                                    <li><a href={% url 'tadbirlar' %}>Tadbirlar</a></li>
                                    <li><a href={% url 'elonlar' %}>E‘lonlar</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown"><a href="#">Hujjatlar</a>
                                <ul>
                                    <li><a href={% url 'qonunlar' %}>Qonunlar</a></li>
                                    <li><a href={% url 'farmonlar' %}>Farmonlar</a></li>
                                </ul>
                            </li>    
                            <li class="dropdown"><a href="#">Interaktiv</a>
                                <ul>
                                    <li><a href="https://my.gov.uz/oz">Elektron davlat xizmatlari</a></li>
                                    <li><a href="https://emis.mpe.uz/core/">EMIS portali</a></li>
                                    <li><a href="https://my.gov.uz/oz/kindergarten/default/create">Onlayn ariza yuborish</a></li>
                                </ul>
                            </li>                              
                            <li><a href={% url 'aloqa' %}>Aloqa</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div><!-- sticky-header end -->
</header>
<!-- End Main Header -->